* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    align-content: center;
}

body {
    width: 960px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    padding: 10px 30px 10px 30px;
    width: 200px;
    float: left;
}

/* .headerbtn {
    float: right;
    width: 70px;
    margin: 65px 0 0 0;
    color: #4aaaa5;
}  */


#about { 
    float: right;
    width: 70px;
    margin: 65px 0 0 0;
}

#portfolio {
    float: right;
    width: 70px;
    margin: 65px 0 0 0;
}

#contact {
    float: right;
    width: 70px;
    margin: 65px 0 0 0;
}

h3 {
    color: #4aaaa5;
    clear: both;

}

.bar {
    height: 20px;
    width: 860px;
    fill: #4aaaa5;

}